VITE_DEARMERS_REGISTRY=
VITE_DEARMERS_GENLAYER_REGISTRY=
VITE_DEARMERS_EXECUTOR_ADDRESS=
VITE_GENLAYER_EVALUATOR=
VITE_GENLAYER_RPC_URL=
VITE_BASE_RPC_URL=https://sepolia.base.org
VITE_USDC_TOKEN_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e
VITE_RELAYER_URL=https://relayer.1shotapi.dev/relayers
BASE_RPC_URL=https://sepolia.base.org
BASE_DEPLOYER_PRIVATE_KEY=
BASE_AUTOMATION_PRIVATE_KEY=
REVIEW_ORACLE_PRIVATE_KEY=
DEARMERS_REGISTRY_ADDRESS=
GENLAYER_RPC_URL=
GENLAYER_NETWORK=studionet
GENLAYER_PLATFORM_SIGNER_PRIVATE_KEY=
MONGODB_URI=
MONGODB_DB=dearmers_dao
DELEGATION_ENCRYPTION_KEY=
ONESHOT_RELAYER_URL=https://relayer.1shotapi.dev/relayers
RESEND_API_KEY=
EMAIL_FROM=
GITHUB_TOKEN=
ETHERSCAN_API_KEY=
ETHEREUM_RPC_URL=https://ethereum-rpc.publicnode.com
BASE_MAINNET_RPC_URL=https://mainnet.base.org
PRIVY_APP_ID=
PRIVY_APP_SECRET=
PRIVY_JWKS_ENDPOINT=
VITE_PRIVY_APP_ID=
ADMIN_WALLETS=
